/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 1128px;
  align-items: center;
  margin: 0 auto
}

.gallery-item {
  width: calc((100% - 24px)/3);
}

.feedback-form {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  max-width: 400px; 
  margin: auto; 
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-top: 8px
}

.input-email {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  margin-top: 8px;
  padding: 15px;
  box-sizing: border-box;
}

.message {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  margin-bottom: 24px;
  margin-top: 8px;
  padding: 15px;
  box-sizing: border-box;
  resize: none;
}

.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
}

.form-btn:hover,
.form-btn:focus {
  background: #6c8cff;
}